
/* SIDEBAR (barra lateral) */
#sidebar {
  width: 250px;
  min-height: 100vh;
  transition: width 0.3s;
}

#sidebar.collapsed {
  width: 80px;
  overflow-x: hidden;
}

/* Ocultar textos al colapsar */
#sidebar.collapsed .sidebar-text,
#sidebar.collapsed #sidebar-title {
  display: none;
}

#toggleSidebar {
  padding: 13px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggleSidebar i {
  font-size: 1rem;
}

/* Estilo de botones del menú */
.menu-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s;
}

.menu-btn.active {
  background-color: #101781;
  color: white;
}

/* Tamaño de íconos del submenú */
.accordion-body .btn i {
  font-size: 1rem;
}

/* Espacio entre botones del submenú */
.accordion-body .menu-btn {
  margin-bottom: 10px;
}

/* Eliminar margen del último botón */
.accordion-body .menu-btn:last-child {
  margin-bottom: 0;
}

/* Separación entre encabezado del acordeón y sus botones */
.accordion-body {
  margin-top: 8px;
}

/* MODO CLARO / OSCURO */

/* Estilos para modo claro */
.modo-claro {
  background-color: #f2f2f2 !important;
  color: #222 !important;
}

.modo-claro .bg-dark {
  background-color: #e9ecef !important;
}

.modo-claro .text-white {
  color: #212529 !important;
}

.modo-claro .btn-outline-success {
  border-color: #198754;
  color: #198754;
}

.modo-claro .btn-outline-success:hover {
  background-color: #198754;
  color: white;
}

.modo-claro .btn-outline-info {
  border-color: #0dcaf0;
  color: #0dcaf0;
}

.modo-claro .btn-outline-info:hover {
  background-color: #0dcaf0;
  color: white;
}

/* Estilos para modo oscuro */
body.modo-oscuro {
  background-color: #1e1e1e;
  color: #ddd;
}

/* Transición suave al cambiar de modo */
body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* SWITCH DE MODO CLARO/OSCURO */

.modo-switch-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50vh;
  margin-bottom: 2vh;
}

.modo-switch-personal .form-check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-check-input {
  margin-bottom: 5px;
}

/* CARRUSEL DE VIDEOS */

/* Contenedor centrado y limitado */
.video-wrapper {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos dentro del ratio */
.video-wrapper .ratio {
  border-radius: 10px;
  overflow: hidden;
}

/* Ajuste de iframe para ocupar todo el ratio */
.ratio iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Clic en el iframe*/
.carousel .carousel-item iframe {
  pointer-events: auto;
  z-index: 1;
}

.carousel-item {
  position: relative;
  z-index: 0;
}